#calculator{
    width: 250px;
    margin: 50px auto;
    padding: 20px ;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #4f0aef;
}
.display-buttons{
    display: flex;
     justify-content: center;
     flex-wrap: wrap;
}
#display{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    margin: 10px 0px;

    font-size: 24px;
    text-align: right;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
}
#buttons{
    width: 60px;
    height: 40px;
    margin: 5px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    cursor: pointer;
}
#head{
    text-align: center;
    font-family: Arial, sans-serif;
    
    font-size: 50px;
}
#buttons:hover{
    background-color: #ddd;
}